## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [15]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [17]:


pc_mat = ((df_mat / 24) * 100).round(1).astype(str) + '%'
pc_por = ((df_por / 18) * 100).round(1).astype(str) + '%'
pc_geo = ((df_geo /  8) * 100).round(1).astype(str) + '%'
pc_ing = ((df_ing /  8) * 100).round(1).astype(str) + '%'
pc_his = ((df_his /  8) * 100).round(1).astype(str) + '%'
pc_fis = ((df_fis /  12) * 100).round(1).astype(str) + '%'
pc_qui = ((df_qui /  12) * 100).round(1).astype(str) + '%'

pc_mat

   Qt_acertos
0       25.0%
1       79.2%
2       58.3%
3       41.7%
4       29.2%
..        ...
95      25.0%
96      33.3%
97      95.8%
98       0.0%
99      45.8%

[100 rows x 1 columns]

In [18]:
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [19]:

media_aluno_total = ((total/90) * 100).round(1).astype(str) + '%'
media_aluno_total

   Qt_acertos
0       38.9%
1       53.3%
2       55.6%
3       35.6%
4       33.3%
..        ...
95      37.8%
96      30.0%
97      44.4%
98      44.4%
99      46.7%

[100 rows x 1 columns]

In [20]:
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()
num_alunos_gt_45 = total_gt_45.shape[0]
num_alunos_gt_45

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [21]:

df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [ ]:
df_eliminados.nunique()

In [ ]:
med_geo_e_hist = df_his + df_geo / 2
med_geo_e_hist

In [29]:
df_aprovados = total[(df_mat['Qt_acertos'] > 0) &
                     (df_fis['Qt_acertos'] > 0) &
                     (df_qui['Qt_acertos'] > 0) & 
                     (total['Qt_acertos'] > 45)]

df_aprovados

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
import os
from pathlib import Path

caminho_area_de_trabalho = Path.home() / 'Desktop'
nome_arquivo_csv = 'vacinacao_acre.csv'
caminho_arquivo_csv = caminho_area_de_trabalho / nome_arquivo_csv
## Tive que fazer alterações usando outras bibliotecas/pacotes, pois o site está fora do ar a meses e vcs nao mudaram até hj, então peguei na internet um arquivo csv de vacinação e coloquei pro ChatGPT me ajudar a ler o diretorio de Desktop da maquina do tutor ao corrigir essa tarefa
## obs: nao coloquei o site do arquivo pois também estava fora do ar (30/01/2024, 09:02)

In [ ]:

df = pd.read_csv(caminho_arquivo_csv, sep=';')


tipos_vacina = df['vacina_nome'].nunique()
tipos_vacina

In [ ]:
df.head()

In [ ]:
df.shape[0]

In [ ]:

df['paciente_id'].nunique()

In [ ]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

In [ ]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

In [ ]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

In [175]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

55

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:

df_menor = df[df["paciente_idade"] < 18].copy()
df_menor

In [ ]:

df_menor.columns

In [172]:

df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      41913
Povos Indígenas                                    3757
Outros                                             3697
Povos e Comunidades Tradicionais                    681
Trabalhadores de Saúde                              238
Comorbidades                                         55
População Privada de Liberdade                       51
Gestantes                                            33
Pessoas com Deficiência                              10
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [ ]:

lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]
df_menor_lista

In [180]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(176, 6)